<div class="section-list-collections">
  <h1>All Collections</h1>
  <p>This is the main list collections page content.</p>
</div>

{% schema %}
{
  "name": "Main List Collections",
  "settings": []
}
{% endschema %}